

<div class="container">
<nav>
  <div class="nav-wrapper">
    <ul>
      <li><a ui-sref="channels">Back</a></li>
      <li><a>Edit Channel</a></li>
      <li ng-click="deleteChannel()"><a>Delete Channel</a></li>
      <!-- <li><a ng-click="deleteChannel({{chan._id}})">Delete Channel</a></li> -->
      <li><a>See Videos In This Channel</a></li>
    </ul>
  </div>
  </nav>
  <div class="container-image"><img src={{chan.imageUrl}}></div>
  <h2>{{chan.name}}</h2>
  <p>{{chan.description}}</p>
</div>
