  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div id="hometitle">
          <h2 >Welcome to</h2>
          <h1><b>FILM AVATAR<b></h1>
        </div>
        <div class="row center">
          <h5 class="header col s12 light">Make webTV your own</h5>
        </div>
        <div class="row center" id="down-button">
          <a ui-sref="channels" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Browse Channels</a>
        </div>
        <br><br>

      </div>
    </div>
    <!-- <div class="parallax"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Poster_-_Thin_Man%2C_The_02.jpg" alt="Unsplashed background img 1"></div> -->
  </div>
