  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Welcome to Film Avatar</h1>
        <div class="row center">
          <h5 class="header col s12 light">Make webTV your own</h5>
        </div>
        <div class="row center">
          <a ui-sref="channels" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Browse Channels</a>
        </div>
        <br><br>

      </div>
    </div>
    <!-- <div class="parallax"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Poster_-_Thin_Man%2C_The_02.jpg" alt="Unsplashed background img 1"></div> -->
  </div>
