<div class="container">
<nav>
  <div class="nav-wrapper">
    <ul>
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="channels">All Channels</a></li>
      <li><a ui-sref="videos">Videos in this Channel</a></li>
      <!-- <li><a>Remove Video</a></li> -->
    </ul>
  </div>
  </nav>
  <!-- <div class="container-image"><img src="{{chan.imageUrl}}"></div> -->
  <h4>{{currentVideo.title}}</h4>
  <p>{{chan.name}}</p>
  <p><i>Your video will begin once it loads...</i></p>

  <div id="player">
  <video id="myVideo" ng-src="{{currentVideoUrl}}" controls width="600px" autoplay="true">
  </video>

  </div> <!-- player -->

</div> <!-- video.html container -->
